*{list-style: none;}

section{
    width: 100vw;
text-align: center;
    
}

ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    width:60%;
}

li{
    padding: 25px;
 border:solid green;
 margin: 10px;
}

li img{
    /*padding: 25px;*/
    height: 200px;
    width: 200px;
}