*{list-style: none;}

section{
   

    
}

ul{
   
   
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    
}

li{
    
    margin: 25px;
    text-align: center;
    border:solid green;
 
}

li img{
   
    /*padding: 25px;*/
    height: 200px;
    width: 250px;
}